<div style="text-align:center;">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" style="color:white;"> GAME OF THRONES </a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
                
              </ul>
              <!-- <div class="navbar-form navbar-right" style="margin-left:20px;margin-right:20px;">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="gotnames" class="form-control" placeholder="Search by name">
                  </div>
                 
                </div> -->
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
        
    </div>
  </div>
<br>

<router-outlet></router-outlet>

