/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* width */
::-webkit-scrollbar {
    width: 8px;
    
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #ffffff;
     
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #000000;
    }

    body
    {
        background-color: #000000;
    }

    /* body{
       
        background:#d6d6d6 url('assets/images/world-map.png') no-repeat top center;
        background-size:66%;
         
    } */